@font-face {
  font-family: "iconfont"; /* Project id 2352775 */
  src: url('iconfont.woff2?t=1633535263113') format('woff2'),
       url('iconfont.woff?t=1633535263113') format('woff'),
       url('iconfont.ttf?t=1633535263113') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhexiantu:before {
  content: "\e600";
}

.icon-shangpin:before {
  content: "\e888";
}

.icon-danju:before {
  content: "\e89b";
}

.icon-tijikongjian:before {
  content: "\e89f";
}

.icon-user-fill:before {
  content: "\e7d5";
}

.icon-arrow-down:before {
  content: "\e665";
}

.icon-arrow-right:before {
  content: "\e666";
}

.icon-direction-down:before {
  content: "\e66b";
}

.icon-day:before {
  content: "\e65d";
}

.icon-night:before {
  content: "\e65e";
}

.icon-add:before {
  content: "\e65f";
}

.icon-feedback:before {
  content: "\e660";
}

